@import "../App.scss";

.project-cards {
  @include flexbox(row, center, center);
  flex-wrap: wrap;
  width: 100%;
}
.project-card {
  width: 45%;
  padding: 1rem;
  margin-bottom: 24px;
  a {
    text-decoration: none;
  }
  .thumbnail {
    height: 464px;
    width: 624.37;
    width: 100%;
    object-fit: cover;
  }
  .thumbnail-title {
    margin-top: 16px;
  }
}
