@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
body {
  font-family: "Inter";
}
.h1 {
  @include text-style(3rem, $primary-color, center, 500, 5rem);
}
.nav-font-style {
  @include text-style(1.5rem, $primary-color, center, 800, 2rem);
}
.thumbnail-title {
  @include text-style(1.5rem, $primary-color, center, 800, 2rem);
}
.project-title {
  @include text-style(1.5rem, $primary-color, left, 800, 2rem);
}
.project-type {
  @include text-style(1.5rem, $primary-color, right, 800, 2rem);
}
.project-description {
  @include text-style(1.5rem, $primary-color, left, 500, 2rem);
}
