@import "../App.scss";

.hero-container {
  height: calc(100vh - 20rem);
  @include flexbox(row, center, center);
}
// .card-container {
//   @include flexbox(row, center, center);
// }

.heading-primary {
  backface-visibility: hidden;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
