@import "../App.scss";

.r-project-cards {
  @include flexbox(row, center, center);
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
}
.r-project-card {
  width: 30%;
  padding: 1rem;
  a {
    text-decoration: none;
  }
  .thumbnail {
    width: 100%;
    height: 304px;
    object-fit: cover;
  }
}
